.popup__gallery-container {
  position: relative;
  max-width: 75vw;
  margin: 0 auto;
  max-height: 75vh;
  height: 100%;
}

@media (max-width: 320px) {
  .popup__gallery-container {
    max-width: 240px;
  }
}