.popup__form-title {
  margin-bottom: 54px;
  margin-top: 0;
  font-weight: 900;
  font-style: 24px;
  line-height: 29px;
}

@media (max-width: 770px)  {
  .popup__form-title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }
}